/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/play-v19-cyrillic_latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/play-v19-cyrillic_latin-700.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.ttf') format('truetype');
}

/* Variables */
:root {
  --color-primary-light: #ffffff;
  --color-primary: #2b7fff;
  --color-primary-dark: #011c44;
  --color-secondary-gray-dark: #4a4a4a;
  --color-secondary-gray-light: #747272;
  --color-secondary-blue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

/* General styles */
body {
  color: var(--color-primary-dark);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

.logo-link {
  color: var(--color-primary);
  font-family: Play, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.menu-link:hover,
.address-link:hover {
  color: var(--color-primary);
  font-weight: 700;
}

.accent {
  color: var(--color-primary);
}

/* Header */
header .logo-link {
  font-size: 22px;
  line-height: 0.9546;
}

header .menu-link {
  color: var(--color-primary-dark);
}

/* Sections */
.section-title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
}

/* Hero section */
.hero-title {
  color: var(--color-primary);
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81429;
  text-transform: capitalize;
}

.order-button {
  color: var(--color-primary-light);
  font-weight: 700;
  padding: 16px 32px;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 32px;
}

.order-button:hover {
  color: var(--color-primary-dark);
  background: none;
}

.order-description {
  font-size: 12px;
  line-height: 1.5;
}

/* About section */
.about-text {
  font-size: 22px;
  line-height: 1.7273;
}

.about-text span {
  font-weight: 700;
  text-transform: capitalize;
}

/* Aligned headers */
.center {
  text-align: center;
}

/* Advantages section */
.advantages-text {
  color: #000;
  text-align: center;
  font-weight: normal;
  line-height: 1.33333;
}

/* Procedures section */
.procedures-text {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.18182;
}

/* Contacts section */
.contacts-map {
  border: none;
  border-radius: 32px;
}

/* Footer */
footer .logo-link {
  font-size: 24px;
  line-height: 0.9546;
}

footer .menu-link,
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
}

.address-copyright {
  font-size: 13px;
}
